.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: flex-end; }
  .horizontal.inverted {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse; }
  .horizontal > .textual {
    flex: 0.5 0 50%;
    box-sizing: border-box; }
  .horizontal > article {
    flex: 1 0 100%;
    box-sizing: border-box; }
  .horizontal > .graphical {
    flex: 1 0 50%;
    box-sizing: border-box;
    align-self: center; }
    .horizontal > .graphical.portrait {
      flex: 0 0 50%; }

article.actually-vertical.full, article.actually-vertical.partial-image, article.vertical.full, article.vertical.partial-image {
  padding: 2rem 0; }

article.actually-vertical > .textual, article.vertical > .textual {
  flex: 0 0.75 auto;
  max-width: 30rem; }

article.actually-vertical > .graphical, article.vertical > .graphical {
  flex-grow: 0;
  flex-basis: auto !important; }

article.actually-vertical > .graphical {
  flex-basis: 100% !important; }

.vertical > article {
  flex: 1 0.75 100%; }

@media (min-width: 1100px) {
  .horizontal > article {
    flex: 1 1 50%; } }

@media (min-width: 1400px) {
  .horizontal > article {
    flex: 1 0 600px; } }

@media (min-width: 720px) {
  .horizontal {
    flex: 1 1 100%; }
  .forced.horizontal {
    flex-wrap: nowrap; }
  .forced.vertical {
    flex-direction: column; } }

article.actually-vertical, article.vertical {
  align-items: center;
  justify-content: center; }

.vertical {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; }
  .vertical.inverted {
    flex-direction: column-reverse; }
