.thin-outline {
  outline-width: 1px;
  outline-style: solid;
  outline-color: red; }

.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: flex-end; }
  .horizontal.inverted {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse; }
  .horizontal > .textual {
    flex: 0.5 0 50%;
    box-sizing: border-box; }
  .horizontal > article {
    flex: 1 0 100%;
    box-sizing: border-box; }
  .horizontal > .graphical {
    flex: 1 0 50%;
    box-sizing: border-box;
    align-self: center; }
    .horizontal > .graphical.portrait {
      flex: 0 0 50%; }

article.actually-vertical.full, article.actually-vertical.partial-image, article.vertical.full, article.vertical.partial-image {
  padding: 2rem 0; }

article.actually-vertical > .textual, article.vertical > .textual {
  flex: 0 0.75 auto;
  max-width: 30rem; }

article.actually-vertical > .graphical, article.vertical > .graphical {
  flex-grow: 0;
  flex-basis: auto !important; }

article.actually-vertical > .graphical {
  flex-basis: 100% !important; }

.vertical > article {
  flex: 1 0.75 100%; }

@media (min-width: 1100px) {
  .horizontal > article {
    flex: 1 1 50%; } }

@media (min-width: 1400px) {
  .horizontal > article {
    flex: 1 0 600px; } }

@media (min-width: 720px) {
  .horizontal {
    flex: 1 1 100%; }
  .forced.horizontal {
    flex-wrap: nowrap; }
  .forced.vertical {
    flex-direction: column; } }

article.actually-vertical, article.vertical {
  align-items: center;
  justify-content: center; }

.vertical {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; }
  .vertical.inverted {
    flex-direction: column-reverse; }

.padded.block {
  padding: 2rem; }

.textual {
  max-width: 30rem;
  min-width: 20rem; }
  .textual > .textual {
    margin-left: 0;
    margin-right: 0;
    min-width: auto; }

.graphical {
  min-width: 200px; }
  .graphical img {
    max-width: 100%;
    width: 100%; }

.panel {
  align-self: center; }

.box {
  align-self: center;
  box-sizing: border-box;
  padding: 2rem; }
  .box.bottom {
    align-self: bottom; }
  .box.top {
    align-self: top; }

body {
  counter-reset: picture; }

article:not(.copy) picture {
  counter-increment: picture; }

article picture {
  position: relative; }

body {
  counter-reset: picture; }

.has-connector picture {
  position: relative; }

.has-connector picture:after {
  content: counter(picture, upper-roman);
  position: absolute;
  top: 1.75rem;
  left: -2rem;
  font-size: 2rem;
  width: 4rem; }

.has-connector picture:before {
  content: "";
  position: absolute; }

.has-connector.horizontal > picture:before {
  top: 1rem;
  left: 0;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-left: 2rem solid currentColor;
  border-right: 0; }

.has-connector.horizontal.inverted > picture:before {
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-right: 2rem solid currentColor;
  border-left: 0;
  top: 1rem;
  right: 0; }

.has-connector.horizontal.inverted > picture:after {
  left: auto;
  right: -5rem; }

.has-connector.vertical.inverted > picture:after, .has-connector.actually-vertical.inverted > picture:after {
  bottom: -2rem;
  top: auto;
  left: 1rem;
  text-align: center; }

.has-connector.vertical.inverted > picture:before, .has-connector.actually-vertical.inverted > picture:before {
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid currentColor;
  border-top: 0;
  bottom: 0;
  top: auto;
  left: 1rem;
  right: auto; }

.has-connector.vertical > picture:after, .has-connector.actually-vertical > picture:after {
  top: -2rem;
  left: 1rem;
  text-align: center; }

.has-connector.vertical > picture:before, .has-connector.actually-vertical > picture:before {
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 2rem solid currentColor;
  border-bottom: 0;
  top: 0;
  bottom: auto;
  left: 1rem;
  right: auto; }

body, html {
  padding: 0;
  margin: 0;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
  background: #549ae6; }

.copies {
  outline: 10px solid #549ae6;
  outline-offset: 0;
  opacity: 0.5; }

.copies.open {
  opacity: 1;
  z-index: 2; }

article {
  position: relative;
  z-index: 1; }
  article.copy {
    z-index: 0; }
    article.copy picture {
      opacity: 0.4; }
    article.copy:after {
      content: "";
      position: absolute;
      top: 0;
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
      height: 100px; }
    article.copy.inverted:after {
      content: "";
      bottom: 0;
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
      height: 100px; }

* {
  transition: opacity 0.3s, transform 0.4s, color 0.3s ease-in, outline-color 0.3s, background-color 0.5s ease-out; }

h1, h2, h3, p, ul, li, .block {
  padding: 0;
  margin: 0; }
  h1 + h1, h1 + h2, h1 + h3, h1 + p, h1 + ul, h1 + li, h1 + .block, h2 + h1, h2 + h2, h2 + h3, h2 + p, h2 + ul, h2 + li, h2 + .block, h3 + h1, h3 + h2, h3 + h3, h3 + p, h3 + ul, h3 + li, h3 + .block, p + h1, p + h2, p + h3, p + p, p + ul, p + li, p + .block, ul + h1, ul + h2, ul + h3, ul + p, ul + ul, ul + li, ul + .block, li + h1, li + h2, li + h3, li + p, li + ul, li + li, li + .block, .block + h1, .block + h2, .block + h3, .block + p, .block + ul, .block + li, .block + .block {
    margin-top: 1rem; }

* {
  box-sizing: border-box; }

span.accent {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.05rem;
  padding-bottom: 0.1rem;
  margin-top: -0.05rem;
  margin-bottom: -0.1rem;
  display: inline-block; }
