article:not(.copy) picture {
  counter-increment: picture; }

article picture {
  position: relative; }

body {
  counter-reset: picture; }

.with-connector picture:after {
  content: counter(picture, upper-roman);
  position: absolute;
  top: 1.75rem;
  left: -2rem;
  font-size: 2rem;
  width: 4rem; }

.with-connector picture:before {
  content: "";
  position: absolute; }

.with-connector.horizontal > picture:before {
  top: 1rem;
  left: 0;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-left: 2rem solid currentColor;
  border-right: 0; }

.with-connector.horizontal.inverted > picture:before {
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-right: 2rem solid currentColor;
  border-left: 0;
  top: 1rem;
  right: 0; }

.with-connector .horizontal.inverted > picture:after {
  left: auto;
  right: -5rem; }

.with-connector.vertical.inverted > picture:after, .with-connector.actually-vertical.inverted > picture:after {
  bottom: -2rem;
  top: auto;
  left: 1rem;
  text-align: center; }

.with-connector.vertical.inverted > picture:before, .with-connector.actually-vertical.inverted > picture:before {
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid currentColor;
  border-top: 0;
  bottom: 0;
  top: auto;
  left: 1rem;
  right: auto; }

.with-connector.vertical > picture:after, .with-connector.actually-vertical > picture:after {
  top: -2rem;
  left: 1rem;
  text-align: center; }

.with-connector.vertical > picture:before, .with-connector.actually-vertical > picture:before {
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 2rem solid currentColor;
  border-bottom: 0;
  top: 0;
  bottom: auto;
  left: 1rem;
  right: auto; }
