body
  counter-reset: picture

article:not(.copy) picture
  counter-increment: picture

article picture
  position: relative

body
  counter-reset: picture

.has-connector
  @import "decorations/connector"